NODE_ENV=development
PORT=3006
SERVICE_NAME=history-service

# JWT debe coincidir con auth-service, employee-service y contract-service
JWT_SECRET=minimo_32_caracteres_muy_seguro_aqui_1234

# PostgreSQL
DATABASE_URL=postgresql://postgres:password@localhost:5432/history_db
