NODE_ENV=development
PORT=3002
SERVICE_NAME=employee-service

# JWT — debe coincidir con el secreto del Auth Service
JWT_SECRET=minimo_32_caracteres_muy_seguro_aqui_1234

# PostgreSQL
DATABASE_URL=postgres://postgres:password@localhost:5432/employee_db

# History Service
HISTORY_SERVICE_URL=http://localhost:3006

# Contract Service
CONTRACT_SERVICE_URL=http://localhost:3003

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
S3_BUCKET_NAME=hr-system-empleados
