NODE_ENV=development
PORT=3003
SERVICE_NAME=contract-service
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/contract_db?schema=contract_schema
JWT_SECRET=minimo_32_caracteres_muy_seguro_aqui_1234
JWT_EXPIRES_IN=1h
CORS_ORIGINS=http://localhost:5173
INTERNAL_API_KEY=clave_interna_muy_segura_cambiar_en_produccion
RBAC_V2_ENABLED=true
CONSULTANT_SELF_SERVICE_ENABLED=true
EMPLOYEE_SERVICE_URL=http://localhost:3002
HISTORY_SERVICE_URL=http://localhost:3006

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=AKIA...
AWS_SECRET_ACCESS_KEY=...
S3_BUCKET_NAME=admin-employee-microservice
