NODE_ENV=development
PORT=3003
SERVICE_NAME=contract-service
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/contract_db?schema=contract_schema
JWT_SECRET=your_jwt_secret
JWT_EXPIRES_IN=1h
EMPLOYEE_SERVICE_URL=http://localhost:3002
