NODE_ENV=development
PORT=3001
SERVICE_NAME=auth-service
JWT_SECRET=secretkeysuper
JWT_EXPIRES_IN=1h
BCRYPT_SALT_ROUNDS=10
# DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auth_service_db?schema=auth_schema"