# Servidor
NODE_ENV=development
PORT=3004
SERVICE_NAME=vacation-service

# Base de datos
DATABASE_URL=postgres://postgres:password@localhost:5432/vacation_db

# JWT — debe ser idéntico al usado en auth-service y todos los demás servicios
JWT_SECRET=minimo_32_caracteres_muy_seguro_aqui_1234
CORS_ORIGINS=http://localhost:5173
INTERNAL_API_KEY=clave_interna_muy_segura_cambiar_en_produccion

# Comunicación con otros microservicios
EMPLOYEE_SERVICE_URL=http://localhost:3002
HISTORY_SERVICE_URL=http://localhost:3006

# SMTP — correo real a RRHH
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rrhh@empresa.com
SMTP_PASS=app_password_gmail

# URL del frontend (para links en los correos)
FRONTEND_URL=http://localhost:5173

# Reglas de negocio
DIAS_LEGALES_ANUALES=15
